@page "/"

<PageTitle>Index</PageTitle>

<h1>Generate PDF documents!</h1>

<p>Example of using <a href="https://github.com/tossnet/Blazor-PdfSharpCore">PdfSharpCore library in a Blazor Server App</a></p>

<button class="btn btn-primary"
		@onclick="HelloWord">
	Hello World!
</button>

<button class="btn btn-secondary"
		@onclick="DrawGraphics">
	Draw Graphics
</button>

<br />

<button class="btn btn-danger mb-3"
		@onclick="HelloMigraDocCoreClick">
	Hello MigraDocCore
</button>

<br />

<button class="btn btn-success"
		@onclick="PrintTable">
	Print Table
</button>


<button class="btn btn-info"
		@onclick="MixMigraSharpClick">
	Mix Migra and SharpCore
</button>


<button class="btn btn-warning"
		@onclick="MultiPageClick">
	Multi Page
</button>

<br />
<br />

<button class="btn btn-danger mb-3"
		@onclick="OrderClick">
	generates an order
</button>

<ul>
	<li><a href="https://github.com/ststeiger/PdfSharpCore" target="_blank">https://github.com/ststeiger/PdfSharpCore</a></li>
	<li><a href="https://docs.pdfsharp.net/" target="_blank">https://docs.pdfsharp.net/</a> </li>
	<li><a href="https://github.com/empira" target="_blank">https://github.com/empira</a> </li>
</ul>
