@page "/"

<PageTitle>Index</PageTitle>

<h1>Generate PDF documents!</h1>

<p>Example of using <a href="https://github.com/tossnet/Blazor-PdfSharpCore">PdfSharpCore library in a Blazor Server App</a></p>

<button class="btn btn-primary"
		@onclick="HelloWord">
	Hello World!
</button>

<button class="btn btn-secondary mt-2"
		@onclick="DrawGraphics">
	Draw Graphics
</button>